@charset "UTF-8";
:root {
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-header-text-color: #212121;
  --secondary-header-text-color: #757575;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text, .newsletter-btn__text {
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms var(--timing-function);
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.icon-container {
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  outline: none;
}

.icon-container:hover {
  cursor: pointer;
}

.icon-container__close-button {
  width: 11px;
  height: 11px;
  transition: fill 250ms var(--timing-function);
}

.icon-container:hover .icon-container__close-button,
.icon-container:focus .icon-container__close-button {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal-form__name {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 50%;
  transition: fill 250ms var(--timing-function);
}

.form-label__comments {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
}

.form-label__comments:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-label__comments::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Custom checkbox */
.check-text {
  font-size: 11px;
  line-height: calc(14 / 11);
  color: #757575;
  margin-bottom: 30px;
  /* Для третьего варианта кастомного чекбокса*/
  /* position: relative;
    align-items: flex-start; */
}

.check-text .check-text__conditions {
  color: lightseagreen;
}

.check-text span {
  width: 12px;
  height: 14px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.check-text__icon {
  width: 11px;
  height: 8px;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-checkbox.visually-hidden {
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

/* 2-й вариант кастомного чекбокса (через фон)*/
/* .check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--timing-function);
  }
  
  .modal-checkbox:checked + .check-text::before {
    background-image: url(../images/icon-check.svg);
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  } */
/* 3-й вариант кастомного чекбокса (ползунок) */
/* .check-text::before {
    content: "";
    width: 40px;
    height: 24px;
    border: 1px solid #999999;
    border-radius: 50px;
    margin-right: 7px;
    transition: background-color 250ms var(--timing-function);
  }
  .check-text::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 2px;
    background-color: grey;
    transition: background-color 250ms var(--timing-function), transform 250ms var(--timing-function);
  }
  
  .modal-checkbox:checked + .check-text::after {
    transform: translate(14px);
    background-color: var(--third-text-color);
  }
  
  .modal-checkbox:checked + .check-text::before {
    background-color: var(--accent-color);
  } */
/* Кнопка формы модалки */
.modal-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  outline: none;
  transition: background-color 250ms var(--timing-function);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.modal-btn__title {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  /* align-items: center; */
}

.header-contacts-list {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-contacts-list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.first-logo {
  margin-right: 93px;
}

.header-menu__item {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-menu__item {
    display: flex;
  }
}

.header-menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-list__item {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts-list__item {
    display: flex;
  }
  .header-contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts-list__item {
    display: flex;
    text-align: center;
  }
  .header-contacts-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.first-logo__header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .first-logo__header {
    font-size: 26px;
    line-height: 1.19;
  }
}

.first-logo__word {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .first-logo__word {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header-menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-header-text-color);
  transition: color 250ms var(--timing-function);
}

.header-menu__link:hover, .header-menu__link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -32px;
}

.header-menu .header-menu__link.link.current {
  color: var(--accent-color);
}

.header-contacts-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--secondary-header-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}

.header-contacts-list__link:hover, .header-contacts-list__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts-list__link {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.header-contacts-envelope {
  width: 14px;
  height: 10px;
  fill: var(--secondary-header-text-color);
  margin-right: 8px;
  transition: fill 250ms var(--timing-function);
}

.header-contacts-list__link:hover .header-contacts-envelope,
.header-contacts-list__link:focus .header-contacts-envelope {
  fill: var(--accent-color);
}

.header-contacts-envelope.smartphone {
  width: 10px;
  height: 14px;
  transition: fill 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .header-contacts-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .header-contacts-envelope.smartphone {
    height: 16px;
  }
}

.mob-menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu .icon-cross {
  display: none;
}

.mob-menu.is-open .icon-cross {
  display: block;
}

.mob-menu.is-open .icon-menu {
  display: none;
}

.mob-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: violet;
  padding: 48px 10px 48px 40px;
  text-align: left;
}

.mob-menu-container.is-open {
  display: block;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  margin: 0, auto;
  padding: 200px 0 280px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headermob@1x.jpg);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headertab@1x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerdesk@1x.jpg);
  }
}

.hero__text {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-title-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background: #2196f3;
  border: none;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  outline: none;
  transition: background-color 250ms var(--timing-function);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.service {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .service {
    padding: 94px 0;
  }
}

.service-bg {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .service-bg {
    width: 270px;
  }
}

.service-bg__icon {
  width: 70px;
  height: 70px;
}

.service-title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin: 0 0 10px 0;
}

@media screen and (min-width: 1200px) {
  .service-title {
    text-align: left;
  }
}

.service-bg__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .service-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .service-list {
    display: flex;
    justify-content: space-between;
  }
}

.service-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .service-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  .service-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .service-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .service-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .service-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.work {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin: 0 0 50px 0;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-image-container {
  position: relative;
}

.work-image-title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0px 27px 0px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-header {
  font-weight: bold;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-header {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    padding-bottom: 24px;
    margin-right: 30px;
  }
  .team-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .team-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100%-90px) / 4);
    padding-bottom: 30px;
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.team-list__imagine {
  margin-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team-member-specialisation {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

/* .social-item:not(:last-child) {
    margin-right: 10px;
  } */
.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.clients {
  padding: 60px 0;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients-header {
  font-weight: bold;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-header {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: space-between;
  }
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
  max-width: 210px;
  height: 92px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-list__item:nth-child(2n) {
  margin-right: 0;
}

.clients-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
    width: 226px;
    height: 92px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .clients-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
    height: 92px;
  }
}

.clients-list__link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--timing-function);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-tab {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tab {
    margin-bottom: 0px;
  }
}

.footer__background {
  background-color: #2f303a;
}

.footer-container {
  margin-bottom: 20px;
}

.footer-container__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-container__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-container__word {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-container__word {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-address {
  font-style: normal;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-bottom: 0px;
  }
}

.footer-list__item:not(:last-child) {
  margin: 0 0 8px 0;
}

@media screen and (min-width: 1200px) {
  .footer-list__item:not(:last-child) {
    margin: 0 0 9px 0;
  }
}

.footer-list__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
  transition: color 250ms var(--timing-function);
}

.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-color);
}

.footer-list__contacts {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .common-container {
    margin-right: 70px;
  }
}

.social-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social-network {
    display: block;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .social-network {
    display: block;
    margin-bottom: 0px;
  }
}

.social-network-header {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primery-title-color);
  margin-bottom: 20px;
}

.social-network-list {
  display: flex;
}

.social-network-list__item {
  width: 44px;
  height: 44px;
}

.social-network-list__item + .social-network-list__item {
  margin-left: 10px;
}

.social-network-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.social-network-list__link:hover, .social-network-list__link:focus {
  background-color: var(--accent-color);
}

.social-network-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .newsletter {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: 93px;
  }
}

.newsletter-title {
  width: 100%;
  max-width: 450px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primery-title-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .newsletter-title {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter-title {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter-form {
    display: flex;
    justify-content: space-between;
  }
}

.mail-text {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--third-text-color);
}

@media screen and (min-width: 1200px) {
  .mail-text {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.mail-text::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
}

.mail-text:focus {
  border-color: #ffffff;
}

.newsletter-btn {
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 62px 10px 29px;
  transition: background-color 250ms var(--timing-function);
  outline: none;
}

.newsletter-btn:hover, .newsletter-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.subscribe-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}

.newsletter-btn__text {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

.service-header {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.portfolio {
  padding: 60px 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0 94px 0;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin: 0 0 50px 0;
  }
}

.portfolio-list__item {
  margin-bottom: 15px;
}

.portfolio-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    margin-bottom: 0;
  }
}

.portfolio-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-list__btn:hover, .portfolio-list__btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* применяем временно portfolio-btn*/
/* .btn-color {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px; }*/
@media screen and (min-width: 768px) {
  .list-img {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .list-img {
    justify-content: space-between;
  }
}

.list-img__item {
  width: 100%;
  max-width: 450px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--timing-function);
}

.list-img__item:not(:last-child) {
  margin-bottom: 30px;
}

.list-img__item:hover, .list-img__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .list-img__item {
    width: 354px;
    height: 440px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .list-img__item:nth-child(2n) {
    margin-right: 0;
  }
  .list-img__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-img__item {
    width: 370px;
    height: 404px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .list-img__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.list-img__container {
  position: relative;
  overflow: hidden;
}

.list-img__picture {
  margin-bottom: 20px;
}

.list-img__description {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--third-text-color);
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.list-img__item:hover .list-img__description {
  transform: translateY(0);
  background: rgba(33, 150, 243, 0.9);
}

.list-img__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  padding: 0 24px;
  margin-bottom: 4px;
}

.list-img__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  padding: 0 24px 20px 24px;
}

@media screen and (min-width: 1200px) {
  .list-img__text {
    padding: 0 24px;
  }
}
/*# sourceMappingURL=main.css.map */