:root {
    --primery-title-color: #ffffff;
    --secondary-title-color: #212121;
    --primary-header-text-color: #212121;
    --secondary-header-text-color: #757575;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --third-text-color: #ffffff;
    --fourth-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  